#scroll-box {
  background: #f6f6f6;
  position: relative;
  height: 284px;
  width: 100%;
  overflow-y: scroll;
}

.phrase-btn {
  text-align: left!important;
  padding-left: 20px!important;
  -webkit-user-select: all!important;  /* Chrome 49+ */
  -moz-user-select: all!important;     /* Firefox 43+ */
  -ms-user-select: all!important;      /* No support yet */
  user-select: all!important;          /* Likely future */
  margin: 5px 0!important;
  height: initial!important;
}

.start-time {
  color: #aaa!important;
  font-size: 14px!important;
  padding-right: 10px!important;
  -webkit-user-select: none!important;  /* Chrome 49+ */
  -moz-user-select: none!important;     /* Firefox 43+ */
  -ms-user-select: none!important;      /* No support yet */
  user-select: none!important;          /* Likely future */
}

.is-active {
  background-color: rgba(153, 153, 153, 0.2);
}


/*media queries*/


/*portrait*/

/*iphone 6*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  #scroll-box {
    height: 324px;
  }
}
/*ipad*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  #scroll-box {
    height: 534px;
  }
}
/*retina ipad pro*/
@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  #scroll-box {
    height: 768px;
  }
}


/*landscape*/
/*ipone 5*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape)  {
  #scroll-box {
    height: 246px;
  }
}
/*iphone 6*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
  #scroll-box {
    height: 246px;
  }
}

/*ipad*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  #scroll-box {
    height: 267px;
  }
}

/*ipad pro retina*/
@media only screen
and (min-device-width : 1366px)
and (min-device-height : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  #scroll-box {
    height: 360px;
  }
}


/*laptop*/
@media only screen
and (min-device-width : 1440px)
and (min-device-height : 900px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  #scroll-box {
    height: 234px;
  }
}

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  #scroll-box {
    height: 360px;
  }
}

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
  #scroll-box {
    height: 234px;
  }
}
