#scroll-box {
  background: #f6f6f6;
  position: relative;
  height: 300px;
  width: 100%;
  overflow-y: scroll;
}

.phrase-btn {
  text-align: left!important;
  padding-left: 20px!important;
  -webkit-user-select: all!important;  /* Chrome 49+ */
  -moz-user-select: all!important;     /* Firefox 43+ */
  -ms-user-select: all!important;      /* No support yet */
  user-select: all!important;          /* Likely future */
  margin: 5px 0!important;
  height: initial!important;
}

.start-time {
  color: #aaa!important;
  font-size: 14px!important;
  padding-right: 10px!important;
  -webkit-user-select: none!important;  /* Chrome 49+ */
  -moz-user-select: none!important;     /* Firefox 43+ */
  -ms-user-select: none!important;      /* No support yet */
  user-select: none!important;          /* Likely future */
}

.active {
  background-color: #333;
}
