#scroll-box {
  background: #eeedec;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.phrase-btn {
  text-align: left!important;
  padding-left: 20px!important;
  -webkit-user-select: all!important;  /* Chrome 49+ */
  -moz-user-select: all!important;     /* Firefox 43+ */
  -ms-user-select: all!important;      /* No support yet */
  user-select: all!important;          /* Likely future */
  margin: 5px 0!important;
  height: initial!important;
}

.phrase-text {
  font-size: 13px;
}

.start-time {
  color: #aaa!important;
  font-size: 14px!important;
  padding-right: 10px!important;
  -webkit-user-select: none!important;  /* Chrome 49+ */
  -moz-user-select: none!important;     /* Firefox 43+ */
  -ms-user-select: none!important;      /* No support yet */
  user-select: none!important;          /* Likely future */
}

.is-active {
  background-color: rgba(153, 153, 153, 0.2);
}

.resize-active {
  -webkit-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
}


.resize-btn {
  position: absolute!important;
  width: 20px!important;
  height: 20px!important;
  top: -30px!important;
  left: inherit!important;
  right: 38px!important;
  cursor: row-resize!important;
  z-index: 5!important;
}

.resize-btn::after {
  content: 'swap_vert';
  color: #5a5a5a;
}

.resizable-subs {
  max-height: calc(100vh - 78px);
}



/*media queries*/


@media screen and (min-width: 768px) {
  .phrase-text {
    font-size: 17px;
  }
}



/*portrait*/

/*iphone 6*/
/*@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {*/
  /*.resizable-subs {
    height: 332px!important;
  }*/
/*}*/
/*ipad*/
/*@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}*/
/*retina ipad pro*/
/*@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}*/


/*landscape*/
/*ipone 5*/
/*@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape)  {

}*/
/*iphone 6*/
/*@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {

}*/

/*ipad*/
/*@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}*/

/*ipad pro retina*/
/*@media only screen
and (min-device-width : 1366px)
and (min-device-height : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}*/


/*laptop*/
/*@media only screen
and (min-device-width : 1440px)
and (min-device-height : 900px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {

}

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {

}*/

/*bigger screens*/
/*@media only screen  and (min-width : 768px) {
  #scroll-box {
    height: 360px;
  }
}*/
