.search-input {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.search-url {
  margin: 0px!important;
  padding: 0px!important;
  width: 40px!important;
  height: 40px!important;
  color: #fff!important;
  position: absolute!important;
  right: 0px!important;
}
